:root {
  --background-color-primary: #fff;
  --background-blue: #303f9f;

  --border-color-primary: #c9c9c9;

  --color-text-primary: #111;
  --color-text-secondary: #3e4249;

  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-2xl: 1.5rem;
  --font-size-3xl: 1.875rem;
  --font-size-4xl: 2.25rem;
  --font-size-5xl: 3rem;

  --line-height-sm: 1.25;
  --line-height-md: 1.5;
  --line-height-lg: 2;

  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --spacing-xs: 0.25rem;
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.5rem;
  --spacing-xl: 2rem;
  --spacing-2xl: 3rem;
  --spacing-3xl: 4rem;
  --spacing-4xl: 5rem;
  --spacing-5xl: 6rem;
}

.navbar {
  background-color: var(--background-color-primary);
  height: 4rem;
  padding: var(--spacing-lg);
  border-bottom: 1px solid var(--border-color-primary);
}

@media (min-width: 992px) {
  .navbar {
    padding: var(--spacing-2xl) var(--spacing-sm);
  }
}

/* NAVBAR MOBILE */

.navbar__container--mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar__icon-menu {
  color: var(--color-text-primary);
  font-size: var(--font-size-2xl);
  cursor: pointer;
}

.navbar__logo {
  height: 2.5rem;
  width: auto;

  object-fit: cover;
}

.navbar__icon-search {
  color: var(--color-text-primary);
  font-size: var(--font-size-2xl);
  cursor: pointer;
}

/* NAVBAR DESKTOP */

.navbar__container--desktop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar__logo.is-desktop-only {
  cursor: pointer;
}

.navbar__search-container {
  display: flex;
  align-items: center;
}

.navbar__search {
  padding: var(--spacing-sm) var(--spacing-md);
  min-width: 31.25rem;
  border: 1px solid var(--border-color-primary);
  font-size: var(--font-size-sm);
}

.navbar__icon-search.is-desktop-only {
  padding: var(--spacing-sm);
  box-sizing: content-box;
  background-color: var(--background-blue);
  color: white;
}

.navbar__icon-menu.is-desktop-only {
  padding: var(--spacing-sm);
  box-sizing: content-box;
  background-color: var(--background-blue);
  color: white;
}

/* NAVBAR LINKS */
.navbar__links-box {
  height: 3rem;
  background-color: white;
  border-bottom: 1px solid var(--border-color-primary);
  padding: var(--spacing-sm);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__links {
  display: flex;
  align-items: center;
  gap: var(--spacing-xl);
}

.navbar__link {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-semibold);
  color: var(--color-text-secondary);
  text-transform: uppercase;

  cursor: pointer;
}

.navbar__date {
  font-size: var(--font-size-sm);
  color: var(--color-text-secondary);
}
