:root {
  --spacing-xs: 0.25rem;
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.5rem;
  --spacing-xl: 2rem;
  --spacing-2xl: 3rem;
  --spacing-3xl: 4rem;
  --spacing-4xl: 5rem;
  --spacing-5xl: 6rem;

  --line-height-sm: 1.25;
  --line-height-md: 1.5;
  --line-height-lg: 2;

  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-2xl: 1.5rem;
  --font-size-3xl: 1.875rem;
  --font-size-4xl: 2.25rem;
  --font-size-5xl: 3rem;

  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --color-text-primary: #111;
  --color-text-secondary: #6b7280;
  --color-text-hover: #303f9f;

  --background-primary: rgb(49, 49, 49);

  --background-gray-100: #f3f4f6;
  --background-gray-200: #e5e7eb;
  --background-gray-300: #d1d5db;
  --background-gray-400: #9ca3af;
  --background-gray-500: #6b7280;
  --background-gray-600: #4b5563;
  --background-gray-700: #374151;
  --background-gray-800: #1f2937;
  --background-gray-900: #111827;

  --border-primary: 1px solid #d1d5db;
}

/* 
ENTERTAINMENT
*/

.entertainment {
  margin: var(--spacing-lg) var(--spacing-sm);
}

/* 
ENTERTAINMENT HEADER
*/

.entertainment__header {
  border-bottom: 2px solid black;
  margin-bottom: var(--spacing-md);
}

.entertainment__header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.entertainment__header__title {
  color: white;
  background-color: var(--background-primary);
  font-size: var(--font-size-sm);
  padding: var(--spacing-xs) var(--spacing-md);
  text-transform: uppercase;
  line-height: var(--line-height-md);

  position: relative;
  margin-right: 1rem;
}

.entertainment__header__title::after {
  content: "";
  position: absolute;
  right: -20px;
  top: 0;

  width: 0;
  height: 0;

  border-bottom: 30px solid #585858;
  border-right: 20px solid transparent;
}

/* 
ENTERTAINMENT CONTAINER
*/

.entertainment__container {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--spacing-md);
}

@media (min-width: 764px) {
  .entertainment__container {
    grid-template-columns: repeat(2, minmax(250px, 1fr));
  }
}

@media (min-width: 1168px) {
  .entertainment__container {
    grid-template-columns: repeat(4, minmax(250px, 1fr));
  }
}

/* ENTERTAINMENT BOX */

.entertainment__box {
  background-color: white;
  border: var(--border-primary);
}

.entertainment__box__image {
  background-color: var(--background-gray-300);
  height: 65vw;
}

@media (min-width: 764px) {
  .entertainment__box__image {
    height: 32vw;
  }
}

@media (min-width: 1168px) {
  .entertainment__box__image {
    height: 16vw;
  }
}

.entertainment__box__content {
  padding: var(--spacing-md);
}

.entertainment__box__content h1 {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-bold);
  color: var(--color-text-primary);

  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  line-height: var(--line-height-sm);
  overflow: hidden;
}

@media (min-width: 764px) {
  .entertainment__box__content h1 {
    font-size: var(--font-size-md);
    -webkit-line-clamp: 2;
  }
}

.entertainment__box__content span {
  font-size: var(--font-size-sm);
  color: var(--color-text-secondary);
  font-weight: var(--font-weight-medium);
}
