@import "../../../App.css";

/* 
ENTERTAINMENT
*/

.entertainment {
  margin: var(--spacing-lg) var(--spacing-sm);
}

@media (min-width: 1300px) {
  .entertainment {
    margin: var(--spacing-lg) 7vw;
  }
}

/* 
ENTERTAINMENT HEADER
*/

.entertainment__header {
  border-bottom: 2px solid black;
  margin-bottom: var(--spacing-md);
}

.entertainment__header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.entertainment__header-title {
  color: white;
  background-color: var(--background-primary);
  font-size: var(--font-size-sm);
  padding: var(--spacing-xs) var(--spacing-md);
  text-transform: uppercase;
  line-height: var(--line-height-md);

  position: relative;
  margin-right: 1rem;
}

.entertainment__header-title::after {
  content: "";
  position: absolute;
  right: -20px;
  top: 0;

  width: 0;
  height: 0;

  border-bottom: 30px solid #585858;
  border-right: 20px solid transparent;
}

/* 
ENTERTAINMENT CONTAINER
*/

.entertainment__container {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--spacing-md);
}

@media (min-width: 764px) {
  .entertainment__container {
    grid-template-columns: repeat(2, minmax(250px, 1fr));
  }
}

@media (min-width: 1168px) {
  .entertainment__container {
    grid-template-columns: repeat(4, minmax(250px, 1fr));
  }
}

/* ENTERTAINMENT BOX */

.entertainment__box {
  background-color: white;
  border: var(--border-primary);
}

.entertainment__box-image {
  background-color: var(--background-gray-300);
  height: 65vw;
}

@media (min-width: 764px) {
  .entertainment__box-image {
    height: 32vw;
  }
}

@media (min-width: 1168px) {
  .entertainment__box-image {
    height: 16vw;
  }
}

.entertainment__box-content {
  padding: var(--spacing-md);
}

.entertainment__box-title {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-bold);
  color: var(--color-text-primary);

  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  line-height: var(--line-height-sm);
  overflow: hidden;
}

@media (min-width: 764px) {
  .entertainment__box-title {
    font-size: var(--font-size-md);
    -webkit-line-clamp: 2;
  }
}

.entertainment__box-author {
  font-size: var(--font-size-sm);
  color: var(--color-text-secondary);
  font-weight: var(--font-weight-medium);
}
